{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-2" type="radio" name="tab" class="sign-up">
                <label for="tab-2" class="tab">Sign Up</label>
                <div class="login-form" id="test">
                    {{ form_start(registrationForm) }}
                    <div class="group">
                        {{ form_row(registrationForm.username) }}
                    </div>
                    <div class="group">
                        {{ form_row(registrationForm.email_address)}}
                    </div>
                    <div class="group">
                        {{ form_row(registrationForm.plainPassword, {
                            'label': 'Password'
                        }) }}
                    </div>
                    <div class="group">
                    </div>
                    <div class="foot-lnk">
                        {{ form_row(registrationForm.agreeTerms, {
                            'label': 'I agree to the terms',
                            'attr': {'class': 'checkbox'}
                        }) }}
                    </div>
                    <div class="hr"></div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                    
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>



        
{% endblock %}
