<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        <link rel="icon" href="{{asset('build/images/logobe/be16x.png')}}"/> 
    </head>
    <body class="body flexrow">
        <nav id="sidebar">
            <div class="navigation flexcolumn">
                <div class="logobet">
                    <a href="/accueil"><img src="{{ asset('build/images/logobe/be64x.png') }}"></a>
                </div>
                <div class="containerlogo flexcolumn menubuttons">
                    <a href="/lol"><img  src="{{ asset('build/images/iconelol.png') }}"></a>
                    <a href="/valo"><img  src="{{ asset('build/images/valoicon.png') }}"></a>
                    <a href="/over"><img  src="{{ asset('build/images/overwatchicon.png') }}"></a>
                </div>
                <div class="flexcolumn hiddenmenu" >
                    <a href="#"><img  src="{{ asset('build/images/tournoislogo.png') }}"><h4>Tournoi</h4></a>
                    <a href="#"><img  src="{{ asset('build/images/settingslogo.png') }}"><h4>Paramètres</h4></a>
                    <a href="/login"><img  src="{{ asset('build/images/iconlog2.png') }}"><h4>Connexion</h4></a>
                    <a href="#"><img  src="{{ asset('build/images/aboutlogo.png') }}"><h4>A propos</h4></a>
                </div>
            </div>
        </nav> 
        <main class="flexcolumn">
            <nav id="navbar" class="flexrow">
                <a >Let's bet</a>
                <a >1980 VC</a>     
            </nav>        
            <section class="flexcolumn">
                {% block body %}{% endblock %}
            </section>
        </main>
    </body>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</html>